{% load controlcenter_tags %}
<div id="chart_{{ widget.slug }}" class="ct-chart ct-{{ widget.chartist.scale }}"></div>
{% if widget.labels and widget.series %}
<script type="text/javascript">
    (function(){
        var data = {
          labels: {{ widget.labels|jsonify }},
          series: {{ widget.series|jsonify }}
        };

        var options = ({{ widget.chartist.options|jsonify }} || {});

        {% if widget.chartist.klass == 'Line' and widget.chartist.point_lables %}
            options.plugins = [
                Chartist.plugins.ctPointLabels({
                  textAnchor: 'middle'
                })
            ];
        {% endif %}

        new Chartist.{{ widget.chartist.klass }}('#chart_{{ widget.slug }}', data, options);
    })();
</script>
{% endif %}
{% if widget.legend %}
<div class="controlcenter__chart-legend">
    <div class="controlcenter__chart-legend__offset">
        {% for series in widget.legend %}
            <div class="controlcenter__chart-legend__series">
                <div class="controlcenter__chart-legend__series__color ct-legend-{{ forloop.counter0|legend_color }}"></div>
                <div class="controlcenter__chart-legend__series__label">{{ series }}</div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}