chartist-colors(names, colors)
    for name, i in names
        .ct-series-{name}
            .ct-bar,
            .ct-line,
            .ct-point,
            .ct-slice-donut
                stroke colors[i]

            .ct-area,
            .ct-slice-pie
                fill colors[i]

        .ct-legend-{name}
            background colors[i]


size(w, h)
    width w
    height h


square(d)
    size(d, d)


hover-focus()
    &:hover, &:focus
        {block}


no-select()
    user-select none
    outline none